node_modules/
.idea/
.vscode/
android/.gradle
android/app/build
android/build
ios/Pods
ios/build
*.log
.DS_Store
dist/
coverage/
npm-debug.log
yarn-error.log
android/local.properties
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/*.xcworkspace/xcuserdata
